In [2]:
from underthesea import pos_tag
import re
import string
import csv
import pandas as pd
import numpy as np

In [12]:
def prepros():
    dic = {}
            
    for fi in ['train.txt']:
        with open(fi, 'r', encoding='utf-8') as f:
            lines = f.readlines()
            cnt = -1
            for para in lines:
                cnt += 1
                category, para = para.split('\t', 1)
                for s in pos_tag(para):
                    if s[1] in ('A', 'V') or re.search('^N', s[1]):
                        w = re.sub(r'[' + string.punctuation + ']', ' ', s[0]).strip().lower()
                        if w != '':
                            if w not in dic:
                                dic[w] = [0] * len(lines)
                            dic[w][cnt] += 1

    df = pd.DataFrame(dic)
    df.to_csv('featureVectors_5kS.csv')
    
    with open('test.txt', 'r', encoding='utf-8') as f:
        lines = f.readlines()
        for k in dic:
            dic[k] = [0] * len(lines)
        cnt = -1
        for para in lines:
            cnt += 1
            for s in pos_tag(para):
                if s[1] in ('A', 'V') or re.search('^N', s[1]):
                    w = re.sub(r'[' + string.punctuation + ']', ' ', s[0]).strip().lower()
                    if w != '':
                        if w not in dic:
                            continue
                        dic[w][cnt] += 1
    df = pd.DataFrame(dic)
    df.to_csv('testVectors.csv')

In [8]:
prepros()

,Unnamed: 0,gần,học sinh,phải,học,điều kiện,tạm bợ,nlđ,trường,tiểu học,...,alec,baldwin,eminem,meirelles,đại náo,hector babenco,giải nam,william hurt,city of god,maids
0,0,3,2,3,5,1,2,1,4,2,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3473,3473,0,2,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3474,3474,0,0,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3475,3475,0,0,4,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3476,3476,0,0,1,0,0,0,0,0,0,...,1,3,1,0,0,0,0,0,0,0
3477,3477,0,0,0,0,0,0,0,0,0,...,0,0,0,2,1,1,1,1,1,1

In [25]:
%%time
df = pd.read_csv('featureVectors_5kS.csv')
x_train = df.iloc[:, 1:].values
y_train, y_test = [], []
with open('train.txt', 'r', encoding='utf-8') as f:
    for para in f.readlines():
        y_train.append(para.split('\t')[0])
        
df1 = pd.read_csv('testVectors.csv')
x_test = df1.iloc[:, 1:].values
with open('testAns.txt', 'r', encoding='utf-8') as f:
    for para in f.readlines():
        y_test.append(para.strip())

Wall time: 2min 2s

In [4]:
with open('scrapy_test/spiders/Output/_trainSet.txt', 'r', encoding='utf-8') as f:
    for para in f.readlines():
        y_train.append(para.split('\t')[0])
x_test = np.concatenate([np.array(x_test), np.zeros((1522, 57617-46021))], axis=1)

In [26]:
from sklearn.metrics import accuracy_score
from sklearn.naive_bayes import MultinomialNB

y_pred = MultinomialNB().fit(x_train, y_train).predict(x_test)
accuracy_score(y_true=y_test, y_pred=y_pred) * 100
for i in range(len(y_test)):
    if y_test[i] != y_pred[i]:
        print(i, ' : ', 'ans: ', y_test[i], '  pred: ', y_pred[i])

8  :  ans:  __CTXH__   pred:  __PL__
10  :  ans:  __CTXH__   pred:  __SK__
12  :  ans:  __CTXH__   pred:  __PL__
16  :  ans:  __CTXH__   pred:  __DS__
21  :  ans:  __CTXH__   pred:  __DS__
25  :  ans:  __CTXH__   pred:  __KD__
28  :  ans:  __CTXH__   pred:  __DS__
33  :  ans:  __CTXH__   pred:  __PL__
47  :  ans:  __CTXH__   pred:  __VH__
48  :  ans:  __CTXH__   pred:  __KH__
50  :  ans:  __CTXH__   pred:  __DS__
56  :  ans:  __CTXH__   pred:  __KD__
58  :  ans:  __CTXH__   pred:  __DS__
64  :  ans:  __CTXH__   pred:  __DS__
67  :  ans:  __CTXH__   pred:  __KD__
69  :  ans:  __CTXH__   pred:  __PL__
72  :  ans:  __CTXH__   pred:  __DS__
76  :  ans:  __CTXH__   pred:  __KD__
80  :  ans:  __CTXH__   pred:  __PL__
81  :  ans:  __CTXH__   pred:  __KD__
85  :  ans:  __CTXH__   pred:  __PL__
87  :  ans:  __CTXH__   pred:  __DS__
88  :  ans:  __CTXH__   pred:  __KD__
94  :  ans:  __CTXH__   pred:  __PL__
96  :  ans:  __CTXH__   pred:  __DS__
98  :  ans:  __CTXH__   pred:  __PL__
99  :  ans:  __CTXH__   pred:  __VT__
108  :  ans:  __CTXH__   pred:  __PL__
110  :  ans:  __CTXH__   pred:  __PL__
113  :  ans:  __CTXH__   pred:  __KD__
116  :  ans:  __CTXH__   pred:  __KD__
118  :  ans:  __CTXH__   pred:  __SK__
119  :  ans:  __CTXH__   pred:  __DS__
121  :  ans:  __CTXH__   pred:  __VH__
125  :  ans:  __CTXH__   pred:  __KD__
126  :  ans:  __CTXH__   pred:  __KD__
127  :  ans:  __CTXH__   pred:  __SK__
128  :  ans:  __CTXH__   pred:  __SK__
136  :  ans:  __CTXH__   pred:  __SK__
137  :  ans:  __CTXH__   pred:  __PL__
139  :  ans:  __CTXH__   pred:  __VH__
145  :  ans:  __CTXH__   pred:  __SK__
159  :  ans:  __CTXH__   pred:  __KD__
161  :  ans:  __CTXH__   pred:  __KD__
162  :  ans:  __SK__   pred:  __KH__
169  :  ans:  __SK__   pred:  __DS__
193  :  ans:  __SK__   pred:  __CTXH__
200  :  ans:  __SK__   pred:  __KH__
208  :  ans:  __SK__   pred:  __CTXH__
231  :  ans:  __SK__   pred:  __DS__
241  :  ans:  __SK__   pred:  __KH__
304  :  ans:  __SK__   pred:  __KH__
310  :  ans:  __SK__   pred:  __CTXH__
313  :  ans:  __SK__   pred:  __DS__
318  :  ans:  __SK__   pred:  __CTXH__
321  :  ans:  __TG__   pred:  __SK__
336  :  ans:  __TG__   pred:  __CTXH__
346  :  ans:  __TG__   pred:  __DS__
354  :  ans:  __TG__   pred:  __DS__
375  :  ans:  __TG__   pred:  __KH__
399  :  ans:  __TG__   pred:  __SK__
402  :  ans:  __TG__   pred:  __SK__
406  :  ans:  __TG__   pred:  __PL__
408  :  ans:  __TG__   pred:  __VH__
437  :  ans:  __TG__   pred:  __DS__
447  :  ans:  __TG__   pred:  __DS__
449  :  ans:  __TG__   pred:  __CTXH__
456  :  ans:  __TG__   pred:  __SK__
460  :  ans:  __TG__   pred:  __CTXH__
463  :  ans:  __TG__   pred:  __KD__
482  :  ans:  __DS__   pred:  __SK__
486  :  ans:  __DS__   pred:  __VH__
490  :  ans:  __DS__   pred:  __SK__
491  :  ans:  __DS__   pred:  __CTXH__
495  :  ans:  __DS__   pred:  __VH__
510  :  ans:  __DS__   pred:  __VH__
526  :  ans:  __DS__   pred:  __KH__
536  :  ans:  __DS__   pred:  __KH__
546  :  ans:  __DS__   pred:  __CTXH__
552  :  ans:  __DS__   pred:  __VH__
559  :  ans:  __DS__   pred:  __PL__
570  :  ans:  __DS__   pred:  __VH__
575  :  ans:  __DS__   pred:  __TT__
596  :  ans:  __DS__   pred:  __SK__
597  :  ans:  __DS__   pred:  __VH__
611  :  ans:  __DS__   pred:  __CTXH__
613  :  ans:  __DS__   pred:  __VH__
621  :  ans:  __DS__   pred:  __PL__
623  :  ans:  __DS__   pred:  __SK__
640  :  ans:  __TT__   pred:  __VH__
648  :  ans:  __TT__   pred:  __VT__
674  :  ans:  __TT__   pred:  __VH__
675  :  ans:  __TT__   pred:  __SK__
693  :  ans:  __TT__   pred:  __CTXH__
702  :  ans:  __TT__   pred:  __TG__
755  :  ans:  __TT__   pred:  __TG__
767  :  ans:  __TT__   pred:  __KD__
768  :  ans:  __TT__   pred:  __KH__
789  :  ans:  __KH__   pred:  __DS__
790  :  ans:  __KH__   pred:  __DS__
804  :  ans:  __KH__   pred:  __DS__
816  :  ans:  __KH__   pred:  __SK__
820  :  ans:  __KH__   pred:  __CTXH__
821  :  ans:  __KH__   pred:  __CTXH__
833  :  ans:  __KH__   pred:  __CTXH__
834  :  ans:  __KH__   pred:  __TG__
835  :  ans:  __KH__   pred:  __VH__
850  :  ans:  __KH__   pred:  __DS__
853  :  ans:  __KH__   pred:  __DS__
854  :  ans:  __KH__   pred:  __VT__
856  :  ans:  __KH__   pred:  __SK__
859  :  ans:  __KH__   pred:  __KD__
868  :  ans:  __KH__   pred:  __CTXH__
884  :  ans:  __KH__   pred:  __CTXH__
886  :  ans:  __KH__   pred:  __DS__
890  :  ans:  __KH__   pred:  __SK__
893  :  ans:  __KH__   pred:  __DS__
894  :  ans:  __KH__   pred:  __DS__
895  :  ans:  __KH__   pred:  __VT__
906  :  ans:  __KH__   pred:  __VT__
908  :  ans:  __KH__   pred:  __CTXH__
910  :  ans:  __KH__   pred:  __CTXH__
912  :  ans:  __KH__   pred:  __SK__
914  :  ans:  __KH__   pred:  __SK__
918  :  ans:  __KH__   pred:  __DS__
924  :  ans:  __KH__   pred:  __CTXH__
926  :  ans:  __KH__   pred:  __VT__
928  :  ans:  __KH__   pred:  __DS__
929  :  ans:  __KH__   pred:  __SK__
930  :  ans:  __KH__   pred:  __DS__
941  :  ans:  __PL__   pred:  __CTXH__
944  :  ans:  __PL__   pred:  __DS__
956  :  ans:  __PL__   pred:  __KD__
972  :  ans:  __PL__   pred:  __DS__
973  :  ans:  __PL__   pred:  __CTXH__
975  :  ans:  __PL__   pred:  __CTXH__
988  :  ans:  __PL__   pred:  __KD__
1027  :  ans:  __PL__   pred:  __CTXH__
1032  :  ans:  __PL__   pred:  __CTXH__
1037  :  ans:  __PL__   pred:  __KD__
1060  :  ans:  __PL__   pred:  __CTXH__
1063  :  ans:  __PL__   pred:  __TG__
1072  :  ans:  __VT__   pred:  __KD__
1082  :  ans:  __VT__   pred:  __CTXH__
1096  :  ans:  __VT__   pred:  __CTXH__
1099  :  ans:  __VT__   pred:  __CTXH__
1102  :  ans:  __VT__   pred:  __CTXH__
1119  :  ans:  __VT__   pred:  __CTXH__
1120  :  ans:  __VT__   pred:  __KD__
1125  :  ans:  __VT__   pred:  __CTXH__
1140  :  ans:  __VT__   pred:  __TG__
1145  :  ans:  __VT__   pred:  __TG__
1166  :  ans:  __VT__   pred:  __KD__
1173  :  ans:  __VT__   pred:  __TG__
1178  :  ans:  __VT__   pred:  __KH__
1183  :  ans:  __VT__   pred:  __CTXH__
1193  :  ans:  __VT__   pred:  __KD__
1213  :  ans:  __VT__   pred:  __KD__
1220  :  ans:  __KD__   pred:  __CTXH__
1237  :  ans:  __KD__   pred:  __VT__
1239  :  ans:  __KD__   pred:  __TG__
1241  :  ans:  __KD__   pred:  __CTXH__
1244  :  ans:  __KD__   pred:  __PL__
1252  :  ans:  __KD__   pred:  __PL__
1258  :  ans:  __KD__   pred:  __CTXH__
1275  :  ans:  __KD__   pred:  __VT__
1334  :  ans:  __KD__   pred:  __CTXH__
1336  :  ans:  __KD__   pred:  __CTXH__
1348  :  ans:  __KD__   pred:  __CTXH__
1351  :  ans:  __KD__   pred:  __DS__
1352  :  ans:  __KD__   pred:  __VT__
1391  :  ans:  __VH__   pred:  __DS__
1397  :  ans:  __VH__   pred:  __CTXH__
1405  :  ans:  __VH__   pred:  __TG__
1410  :  ans:  __VH__   pred:  __TG__
1433  :  ans:  __VH__   pred:  __TG__
1434  :  ans:  __VH__   pred:  __KD__
1437  :  ans:  __VH__   pred:  __CTXH__
1452  :  ans:  __VH__   pred:  __DS__
1463  :  ans:  __VH__   pred:  __VT__
1486  :  ans:  __VH__   pred:  __CTXH__
1489  :  ans:  __VH__   pred:  __CTXH__
1501  :  ans:  __VH__   pred:  __DS__
1507  :  ans:  __VH__   pred:  __KH__
1510  :  ans:  __VH__   pred:  __DS__

In [20]:
from sklearn.metrics import accuracy_score
from sklearn import tree

mytree = tree.DecisionTreeClassifier(max_depth=500, min_samples_split=30, min_impurity_decrease=0.001)
y_pred = mytree.fit(x_train, y_train).predict(x_test)
print(accuracy_score(y_true=y_test, y_pred=y_pred) * 100)
#tree.plot_tree(mytree)

65.17739816031536

In [3]:
dic = {}
df = pd.read_csv('featureVectors_5kS.csv').set_index('Unnamed: 0')
df

,Unnamed: 0,gần,học sinh,phải,học,điều kiện,tạm bợ,nlđ,trường,tiểu học,...,alec,baldwin,eminem,meirelles,đại náo,hector babenco,giải nam,william hurt,city of god,maids
0,0,3,2,3,5,1,2,1,4,2,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3473,3473,0,2,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3474,3474,0,0,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3475,3475,0,0,4,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3476,3476,0,0,1,0,0,0,0,0,0,...,1,3,1,0,0,0,0,0,0,0
3477,3477,0,0,0,0,0,0,0,0,0,...,0,0,0,2,1,1,1,1,1,1

In [7]:
fi = open('scrapy_test/spiders/Output/_trainSet.txt', 'r', encoding='utf-8')
paras = fi.readlines()
for w in df.columns:
    dic[w] = [0] * 1106
cnt = -1
for para in paras:
    cnt += 1
    category, para = para.split('\t', 1)
    for s in pos_tag(para):
        if s[1] in ('A', 'V') or re.search('^N', s[1]):
            w = re.sub(r'[' + string.punctuation + ']', ' ', s[0]).strip().lower()
            if w != '':
                if w not in dic:
                    dic[w] = [0] * 1106
                dic[w][cnt] += 1

df3 = pd.DataFrame(dic)
df3

,gần,học sinh,phải,học,điều kiện,tạm bợ,nlđ,trường,tiểu học,đống đa,...,pvcombank 49 4,đông đô,đặng thị quỳnh hương,quản trọng đức,jeongho,landmark,kiểm soát viên,bùi văn tuấn,phạm thị ngọc lan,phậm
0,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,2,0,1,0,0,2,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,1,2,2,0,0,0,8,5,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1101,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1102,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1103,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1104,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1105,0,0,1,0,0,0,0,0,0,0,...,1,3,1,1,1,1,1,1,1,1

In [10]:
df4 = pd.concat([df, df3], axis=0).fillna(0).astype(int)
df4

,gần,học sinh,phải,học,điều kiện,tạm bợ,nlđ,trường,tiểu học,đống đa,...,pvcombank 49 4,đông đô,đặng thị quỳnh hương,quản trọng đức,jeongho,landmark,kiểm soát viên,bùi văn tuấn,phạm thị ngọc lan,phậm
0,3,2,3,5,1,2,1,4,2,2,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1101,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1102,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1103,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1104,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1105,0,0,1,0,0,0,0,0,0,0,...,1,3,1,1,1,1,1,1,1,1

In [11]:
df4.to_csv('featureVectors_6kS.csv')